{% load static %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Update Paswword</title>
    <link rel="stylesheet" href="{% static 'css/account_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.notifyBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}">
  </head>
  <body>
    {% include "loader.html" %}
    <div class="center">
      <h1>Change Password</h1>
      <form id="PasswordForm">{% csrf_token %}
        <div class="txt_field">
          <input type="password" id="old_password" required />
          <span></span>
          <label>Old Password</label>
        </div>
        <div class="txt_field">
          <input type="password" id="new_password" required />
          <span></span>
          <label>New Password</label>
        </div>
        <div class="txt_field">
            <input type="password" id="confirm_password" required />
            <span></span>
            <label>Confirm Password</label>
            </div>
        <input type="submit" value="Update" />
        <div class="signup_link"></div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/jquery.notifyBar.js' %}"> </script>
    <script src="{% static 'js/register-login.js' %}"> </script>
  </body>
</html>