@media print {
  .header{
    display:none;
  }
  .footer{
    display:none;
  }
  .review-detail-comment{
    display:none;
  }
  .box_group{
    display:none;
  }
  .preview{
    display:block;
  }
}