<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/all.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/edit.css" />
    <title>Edit Page</title>
  </head>
  <body>
    <header class="header bg-white">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light p-0">
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                      aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="./index.html">write <span>your</span> day ...</a>
              <div class="header-search mbl-search">
                  <div class="dropdown">
                      <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src="images/dropdown-next.svg"></span>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li class="selected">All</li>
                          <li>Message</li>
                          <li>All recodes</li>
                      </ul>
                  </div>
                  <div class="enter-search">
                      <input type="text" placeholder="search....">
                  </div>
                  <button>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                           role="img">
                          <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                          </path>
                      </svg>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item search-by">
                          <div class="header-search">
                              <div class="dropdown">
                                  <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src="images/dropdown-next.svg"></span>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li class="selected">All</li>
                                      <li>Message</li>
                                      <li>All recodes</li>
                                  </ul>
                              </div>
                              <input type="text" placeholder="search....">
                              <button>
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                                       role="img">
                                      <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                                      </path>
                                  </svg>
                              </button>
                          </div>
                      </li>
                      <li class="nav-item write-btn">
                          <a href="./write-page.html"><span class="header-btn" href="./write-page.html">Write Now</span></a>
                      </li>
                      <li class="nav-item messages">
                          <a class="header-message-box" href="./chat.html">
                              <small>Message</small>
                              <span class="header-message d-none" href="#">2</span>
                          </a>
                      </li>
                      <li class="nav-item profile">
                          <a href="./profile.html">
                              <div class="nav-link">
                                  <img class="header-img" src="images/radious-img.png">
                                  <h4>Birget Marrie</h4>

                              </div>
                          </a>
                      </li>
                      <li class="nav-item notifiction">
                          <a href="./Notification.html">
                              <span class="header-notifiction" href="./Notification.html">
                                  <small class="d-block d-lg-none">Notification</small>
                                  <img src="images/bell.png" alt="bell.png">
                                  <p>2</p>
                              </span>
                          </a>
                      </li>
                      <li class="nav-item user-icon">
                          <div class="nav-link">
                              <img class="header-img" src="images/radious-img.png">
                              <h4 class="d-lg-none">Birget Marrie</h4>
                          </div>
                          <ul class="submenu">
                              <li>
                                  <a href="./profile.html">
                                      <img class="header-img" src="images/radious-img.png">
                                      <h4>Birget Marrie</h4>
                                  </a>
                              </li>
                              <li><a href="./edit.html">Settings</a></li>
                              <li><a href="./login.html">Logout</a></li>
                          </ul>
                      </li>
                      
                      <li class="nav-item settings d-lg-none">
                          <a class="header-message-box" href="./edit.html">
                              <small>Settings</small>
                          </a>
                      </li>
                      <li class="nav-item logout d-lg-none">
                          <a class="header-message-box" href="./login.html">
                              <small>Logout</small>
                          </a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </header>
    <div class="container-fluid">
      <div class="wrapper d-md-flex">
        <aside class="categories hide">
          <button class="fa fa-times close-categories-btn sm-btn"></button>
          <div class="user-info">
            <div class="user-photo">
              <img src="./images/images.png" class="photo img-fluid"/>
            </div>
            <div class="user-details">
              <h3 class="user">Steve Junior</h3>
              <p class="username">@stevejunior</p>
            </div>
          </div>
          <ul class="categories-list p-0 ">
            <li class="active setting-link" data-target="profile-setting">Profile</li>
            <li class="setting-link" data-target="password-settings">Change Password</li>
            <li class="setting-link" data-target="privacy">Privacy and Security</li>
            <li class="setting-link" data-target="help">Help</li>
          </ul>
        </aside>
        <main class="setting active" id="profile-setting">
          <div class="setting-head align-items-center mb-4 px-2">
            <button class="open-categories-btn fa fa-list-dots sm-btn"></button>
            <h2 class="title">My Profile</h2>
          </div>
          <section class="content">
            <form action="">
              <fieldset>
                <div class="grid-35">
                  <label for="setting-pic">Profile Picture <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input type="file" name="setting-pic" id="setting-pic" required>
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="fname">Name <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="fname"
                    tabindex="1"
                    placeholder="First Name"
                    required
                  />
                </div>
              </fieldset>
             
              <fieldset>
                <div class="grid-35">
                  <label for="uname">Username <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="uname"
                    tabindex="2"
                    placeholder="username"
                    required
                  />
                </div>
              </fieldset>
               <!-- Phone number -->
              <fieldset>
                  <div class="grid-35">
                    <label for="phone">Phone Number <span class="required">*</span></label>
                  </div>
                  <div class="grid-65">
                    <input
                      type="text"
                      id="phone"
                      tabindex="9"
                      placeholder="(XXX)-XXX-XXXX"
                      required
                    />
                  </div>
              </fieldset>
              <!-- Website URL -->
              <fieldset>
                <div class="grid-35">
                  <label for="website">Website</label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="website"
                    tabindex="4"
                    placeholder="www.writeyourday.com"
                  />
                </div>
              </fieldset>
              <!-- Email -->
              <fieldset>
                <div class="grid-35">
                  <label for="email">Email <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="email"
                    id="email"
                    tabindex="6"
                    placeholder="contact@writeyourday.com"
                    required
                  />
                </div>
              </fieldset>
               <!-- Gender -->
               <fieldset>
                <div class="grid-35">
                  <label for="gender">Gender <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <select name="gender" id="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                </div>
              </fieldset>             
               <!-- Description about User -->
              <fieldset>
                <div class="grid-35">
                  <label for="description">Bio <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <textarea
                    name=""
                    id="description"
                    cols="30"
                    rows="auto"
                    tabindex="3"
                    placeholder="Bio"
                    required
                  ></textarea>
                </div>
              </fieldset>

              <fieldset>
                <!-- <input type="button" class="Btn cancel" value="Cancel" /> -->
                <div class="d-flex justify-content-start align-items-center text-center btns">
                  <input type="submit" class="submit-btn" value="Save Profile" />
                  <a class="disable-link">Delete this account</a>
                </div>
              </fieldset>
            </form>
          </section>
        </main>
        <main class="setting" id="password-settings">
          <div class="setting-head align-items-center mb-4 px-2">
            <button class="open-categories-btn fa fa-list-dots sm-btn"></button>
            <h2 class="title">Password Settings</h2>
          </div>
          <section class="content">
            <form action="">
              <fieldset>
                <div class="grid-35">
                  <label for="old-password">Old Password <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input 
                    type="password" 
                    name="old-password" 
                    id="old-password"
                    placeholder="Password"
                    required
                  />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="confirm-password">Confirm Password <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="confirm-password"
                    tabindex="1"
                    placeholder="Password"
                    required
                  />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="new-password">New Password <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="new-password"
                    tabindex="1"
                    placeholder="Password"
                    required
                  />
                </div>
              </fieldset>
              <fieldset>
                <!-- <input type="button" class="Btn cancel" value="Cancel" /> -->
                <div class="d-flex justify-content-start align-items-center text-center btns">
                  <input type="submit" class="submit-btn" value="Update" />
                </div>
              </fieldset>
            </form>
          </section>
        </main>
        <main class="setting" id="help">
          <div class="setting-head align-items-center mb-4 px-2">
            <button class="open-categories-btn fa fa-list-dots sm-btn"></button>
            <h2 class="title">Help Center</h2>
          </div>
          <section class="content">
            <form action="">
              <fieldset>
                <div class="grid-35">
                  <label for="name">Name <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input 
                    type="text" 
                    name="name" 
                    id="name"
                    placeholder="Username"
                    required
                  />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="confirm-password-help">Email Id <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <input
                    type="text"
                    id="confirm-password-help"
                    tabindex="1"
                    placeholder="Password"
                    required
                  />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="phone">Phone Number (optional)</label>
                </div>
                <div class="grid-65">
                  <input
                    type="number"
                    id="phone"
                    tabindex="1"
                    placeholder="Phone"
                  />
                </div>
              </fieldset>
              <fieldset>
                <div class="grid-35">
                  <label for="message">Message <span class="required">*</span></label>
                </div>
                <div class="grid-65">
                  <textarea
                    id="message"
                    tabindex="1"
                    placeholder="Write your message"
                    required
                  ></textarea>
                </div>
              </fieldset>
              

              <fieldset>
                <!-- <input type="button" class="Btn cancel" value="Cancel" /> -->
                <div class="d-flex justify-content-start align-items-center text-center btns">
                  <input type="submit" class="submit-btn" value="Send" />
                </div>
              </fieldset>
            </form>
          </section>
        </main>
        <main class="setting" id="privacy">
          <div class="setting-head align-items-center mb-4 px-2">
            <button class="open-categories-btn fa fa-list-dots sm-btn"></button>
            <h2 class="title">Privacy Policy</h2>
          </div>
          <section class="content">
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo ut nihil aspernatur 
              perspiciatis distinctio. Perspiciatis doloremque, earum porro tempora, quis sunt deleniti 
              saepe optio aliquid magni libero sapiente ab?
            </div>
          </section>
        </main>
      
      </div>
    </div>

    <!-- http://www.smashingmagazine.com/2013/08/08/release-livestyle-css-live-reload/ -->
  </body>
  <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="./js/custom.js" type="text/javascript"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./js/edit.js" type="text/javascript"></script>
  <script src="./js/new.js"></script>
</html>
