{% load static %}
<header class="header bg-white">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">write <span>your</span> day ...</a>
            <div class="header-search mbl-search">
                <div class="dropdown">
                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'images/dropdown-next.svg' %}"/></span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="selected">All</li>
                        <li>Message</li>
                        <li>All recodes</li>
                    </ul>
                </div>
                <div class="enter-search">
                    <input type="text" placeholder="search....">
                </div>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                         role="img">
                        <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item search-by">
                        <form  id="profile search" action="/profile-search" method="GET">
                            <div class="header-search">
                                <div class="dropdown">
                                    <select name="search_option" style="width:20px;border: none;background-color:transparent;">
                                        <option value="post">post</option>
                                        <option value="user">user</option>
                                    </select>
                                    <!-- <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img  src="{% static 'images/dropdown-next.svg' %}"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li class="selected">All</li>
                                        <li>Message</li>
                                        <li>All recodes</li>
                                    </ul> -->
                                </div>
                                <input type="text" name="search_title" placeholder="search....">
                                <button type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                                         role="img">
                                        <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item write-btn">
                        <a href="/write-post"><span class="header-btn" href="#">Write Now</span></a>
                    </li>
                    <li class="nav-item messages">
                        <a class="header-message-box" href="">
                            <small>Message</small>
                            <span class="header-message d-none" href="#">2</span>
                        </a>
                    </li>
                    <li class="nav-item notifiction">
                        <a href="/notifications">
                            <span class="header-notifiction" href="#">
                                <small class="d-block d-lg-none">Notification</small>
                                <img src="{% static 'images/bell.png' %}" alt="bell.png">
                                {%if request.user.unseen_notifications > 0 %}
                                    <p>{{request.user.unseen_notifications}}</p>
                                {%endif%}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item user-icon">
                        <div class="nav-link">
                            {% if request.user.image %}
                              <img class="header-img profile_pic" src="{{request.user.image.url}}">
                            {% else %}
                              <img class="header-img profile_pic" src="{% static 'images/unknown_user.jpeg' %}"> 
                            {% endif %}
                            <h4 class="d-lg-none">{{request.user.fullname}}</h4>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="/profile/{{request.user.id}}">

                                    {% if request.user.image %}
                                      <img class="header-img profile_pic" src="{{request.user.image.url}}">
                                    {% else %}
                                      <img class="header-img profile_pic" src="{% static 'images/unknown_user.jpeg' %}"> 
                                    {% endif %}

                                    <h4>
                                        {% if request.user.fullname %} 
                                            {{request.user.fullname}}
                                        {%else%} 
                                            Anonymous User 
                                        {%endif%}
                                    </h4>
                                </a>
                            </li>
                            <li><a href="/edit-profile">Settings</a></li>
                            <!-- <li><a href="{% url 'accounts:change_password'  %}">Change Password</a></li> -->
                            <li>
                                <a href="/saved-posts/{{request.user.id}}">
                                    Saved Post
                                </a>
                            </li>
                            <li><a href="{% url 'accounts:logout'  %}">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item settings d-lg-none">
                        <a class="header-message-box" href="/edit-profile">
                            <small>Settings</small>
                        </a>
                    </li>
                    <li class="nav-item settings d-lg-none">
                        <a class="header-message-box" href="/saved-posts/{{request.user.id}}">
                            <small>Saved Post</small>
                        </a>
                    </li>
                    <li class="nav-item logout d-lg-none">
                        <a class="header-message-box" href="{% url 'accounts:logout'  %}">
                            <small>Logout</small>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>