{%extends 'base.html'%}
{% load static %}
{% block content%}
<section class="preview">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="review-detail-comment">

                        <form method="POST">
                            {% csrf_token %}                     
                            <div class="review-detail-comment-write">
                                <img src="{% static 'images/messsage.png' %}">
                                <input  name="comment" id="id_comment" type="text" placeholder="Write Comment...">
                                <button type="submit">Post</button>
                            </div>
                        </form>

                        <ul class="like_comment mt-0">
                            <li>
                                <small><img src="{% static 'images/messsage.png' %}"><span><span>{{comments.paginator.count}}</span> Comments</span></small>
                            </li>
                        </ul>

                        {% for comment in comments %}
                            {% if comment.is_parent %}
                            <div class="review-detail-comment-box-outer">
                                <div class="review-detail-comment-box">
                                    <div class="review-detail-comment-box-img">
                                        <a href="/profile/{{comment.author.pk}}"><img src="{{ comment.author.image.url }}"></a>
                                    </div>
                                    <div class="review-detail-comment-box-content">
                                        <h4><a href="/profile/{{comment.author.pk}}">@{{ comment.author.fullname }}</a> - {{comment.created }}</h4>
                                        <p>{{ comment.comment }}</p>
                                        <ul>
                                            <li>
                                                <a class="heart">
                                                    {% if comment.is_liked %}
                                                        <img class="comment-like" id="{{comment.id}}" src="{% static 'images/red-heart.png' %}">
                                                    {% else %}
                                                        <img class="comment-like" id="{{comment.id}}" src="{% static 'images/heart.png' %}">
                                                    {%endif%}
                                                    <span><span id="comment_like_{{comment.id}}">{{ comment.likes.all.count }}</span> Likes</span>
                                                </a>
                                            </li>
                                            <li>
                                                {% if request.user == comment.author %}
                                                    <a href="/post/comment/delete/{{comment.pk}}/" class="edit-color"><i class="fas fa-trash"></i></a>
                                                {% endif %}
                                            </li>
                                            <li class="red-hearta">
                                                <small><img src="{% static 'images/messsage.png' %}"><span>{{comment.children.count}} Reply</span></small>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="reply-comment-write">
                                        <form method="POST" action="/post/{{post.pk}}/comment/{{comment.pk}}/reply">
                                            <div class="review-detail-comment-write">     
                                                {% csrf_token %}
                                                <input type="text" name="comment" id="id_comment"  placeholder="Write Comment...">
                                                <button type="submit" data-bs-dismiss="modal">Post</button>
                                            </div>
                                         </form>
                                    </div>
                                </div>
                                {% for child_comment in comment.children %}
                                    <div class="writereply-box">
                                        <div class="review-detail-comment-box">
                                            <div class="review-detail-comment-box-img">
                                                <a href="/profile/{{child_comment.author.pk}}"><img src="{{child_comment.author.image.url}}"></a>
                                            </div>
                                            <div class="review-detail-comment-box-content">
                                                <h4><a href="/profile/{{child_comment.author.pk}}">@{{ child_comment.author.fullname }}</a> - {{child_comment.created }}</h4>
                                                <p>{{ child_comment.comment }}</p>
                                                <ul>
                                                    <li>
                                                        <a class="heart">
                                                            {% if child_comment.is_liked %}
                                                                <img class="comment-like" id="{{child_comment.id}}" src="{% static 'images/red-heart.png' %}">
                                                            {% else %}
                                                                <img class="comment-like" id="{{child_comment.id}}" src="{% static 'images/heart.png' %}">
                                                            {%endif%}
                                                            <span><span id="comment_like_{{child_comment.id}}">{{ child_comment.likes.all.count }}</span> Likes</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        {% if request.user == child_comment.author %}
                                                            <a href="/post/comment/delete/{{child_comment.pk}}/" class="edit-color"><i class="fas fa-trash"></i></a>
                                                        {% endif %}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="reply-comment-write">
                                                <div class="review-detail-comment-write">
                                                    <input type="text" placeholder="Write Comment...">
                                                    <button data-bs-dismiss="modal">Post</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        <div class="review-detail-comment-box-more">
                            {% if comments.has_next %}
                                <a class="infinite-more-link" href="?page={{ comments.next_page_number }}">View More</a>
                            {% endif %}
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade " id="writereply" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write Reply</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="reply-comment-write">
                    <div class="review-detail-comment-write">
                        <input type="text" placeholder="Write Comment...">
                        <button data-bs-dismiss="modal">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    $('.comment-like').click(function (e) {
        comment_like($(this).attr('id'))
        if($(this).attr("src")==="/static/images/red-heart.png"){

            var id = '#comment_like_'+$(this).attr('id')
            $(id).html(parseInt($(id).html(), 10)-1)

            $(this).attr("src", "/static/images/heart.png");
        }else{

            var id = '#comment_like_'+$(this).attr('id')
            $(id).html(parseInt($(id).html(), 10)+1)
            
            $(this).attr("src", "/static/images/red-heart.png");
        }
    })
</script>
<script type="text/javascript">
    function comment_like(comment_id){
        console.log("comment_id__",comment_id)
        var url = "/like-post-comment/"+comment_id
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: url,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                if (data.status == 200) {
                    $("#MESSAGE-DIV").html("Success");
                }        
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
    }
</script>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0]
    });
</script>
{%endblock%}