{%extends 'base.html'%}
{% load static %}
{% block content%}

{% include "search-nav.html" %}
<section class="serch-profile-box-outer">
    <div class="container">
        <div class="news-list">
            {% for post in posts %}
                {% include 'profile-posts-item.html' %}
            {% endfor %}
        </div>
    </div>
</section>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
    var user_id = "{{user.id}}"
</script>
<script>
    // $('.post-save').click(function (e) {
    $('.news-list').on('click','.post-save',function(e){
        post_save($(this).attr('id'))
        if($(this).attr("src")==="/static/images/bookmark-blue.png"){
            $(this).attr("src", "/static/images/bookmark.png");
        }else{
            $(this).attr("src", "/static/images/bookmark-blue.png");
        }
    })
</script>
<script>
    // $('.post-like').click(function (e) {
    $('.news-list').on('click','.post-like',function(e){
        post_like($(this).attr('id'))
        if($(this).attr("src")==="/static/images/red-heart.png"){

            var id = '#post_like_'+$(this).attr('id')
            $(id).html(parseInt($(id).html(), 10)-1)

            $(this).attr("src", "/static/images/heart.png");
        }else{

            var id = '#post_like_'+$(this).attr('id')
            $(id).html(parseInt($(id).html(), 10)+1)
            
            $(this).attr("src", "/static/images/red-heart.png");
        }
    })
</script>
<script type="text/javascript">
    function post_save(post_id){
        console.log("post_id__",post_id)
        var url = "/save-post/"+post_id
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: url,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                if (data.status == 200) {
                    $("#MESSAGE-DIV").html("Success");
                }        
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
    }
</script>
<script type="text/javascript">
    function post_like(post_id){

        console.log("post_id__",post_id)
        var url = "/like-post/"+post_id
        event.preventDefault()
        $.ajax({
            type: 'POST',
            url: url,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (data) {
                if (data.status == 200) {
                    $("#MESSAGE-DIV").html("Success");
                }        
            },
            error: function(data) {
                $("#MESSAGE-DIV").html("Something went wrong!");
            }
        });
    }
</script>

<script>
    // refrence infinite scroll : https://www.progerhub.com/tutorial/adding-pagination-with-infinite-scroll-in-django/
    $(document).ready(function () {
        var current_url = window.location.href;
        var url = new URL(current_url);
        var datetime = url.searchParams.get("datetime");
        var location = url.searchParams.get("location");
        window.news_index = url
        var page = 1;
        var block_request = false;
        var end_pagination = false;

        $(window).scroll(function () {
            var margin = $(document).height() - $(window).height() - 200;

            if ($(window).scrollTop() > margin && end_pagination === false && block_request === false) {
                block_request = true;
                page += 1;
                $.ajax({
                    type: 'GET',
                    url: window.news_index,
                    data: {
                        "page": page,
                        "user_id":user_id
                    },
                    success: function (data) {
                        if (data.end_pagination === true) {
                            end_pagination = true;
                        } else {
                            block_request = false;
                        }
                        $('.news-list').append(data.content);
                    }
                })
            }
        });
    })
</script>
{%endblock%}