<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Write page</title>
    <!-- fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/snippet.css" type="text/css" data-cke="true">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="./css/write-page.css">
</head>
<body>
    <header class="header bg-white">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="./index.html">write <span>your</span> day ...</a>
                <div class="header-search mbl-search">
                    <div class="dropdown">
                        <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src="images/dropdown-next.svg"></span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="selected">All</li>
                            <li>Message</li>
                            <li>All recodes</li>
                        </ul>
                    </div>
                    <div class="enter-search">
                        <input type="text" placeholder="search....">
                    </div>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                             role="img">
                            <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item search-by">
                            <div class="header-search">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img src="images/dropdown-next.svg"></span>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li class="selected">All</li>
                                        <li>Message</li>
                                        <li>All recodes</li>
                                    </ul>
                                </div>
                                <input type="text" placeholder="search....">
                                <button>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14"
                                         role="img">
                                        <path d="M13.65 12L10.4 8.75A5.64 5.64 0 0 0 5.66 0a5.67 5.67 0 1 0 3.1 10.4L12 13.66a1.15 1.15 0 0 0 1.64 0 1.16 1.16 0 0 0 0-1.65zM5.66 9.55a3.89 3.89 0 1 1 .01-7.78 3.89 3.89 0 0 1 0 7.78z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item write-btn">
                            <a href="./write-page.html"><span class="header-btn" href="./write-page.html">Write Now</span></a>
                        </li>
                        <li class="nav-item messages">
                            <a class="header-message-box" href="./chat.html">
                                <small>Message</small>
                                <span class="header-message d-none" href="#">2</span>
                            </a>
                        </li>
                        <li class="nav-item profile">
                            <a href="./profile.html">
                                <div class="nav-link">
                                    <img class="header-img" src="images/radious-img.png">
                                    <h4>Birget Marrie</h4>

                                </div>
                            </a>
                        </li>
                        <li class="nav-item notifiction">
                            <a href="./Notification.html">
                                <span class="header-notifiction" href="./Notification.html">
                                    <small class="d-block d-lg-none">Notification</small>
                                    <img src="images/bell.png" alt="bell.png">
                                    <p>2</p>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item user-icon">
                            <div class="nav-link">
                                <img class="header-img" src="images/radious-img.png">
                                <h4 class="d-lg-none">Birget Marrie</h4>
                            </div>
                            <ul class="submenu">
                                <li>
                                    <a href="./profile.html">
                                        <img class="header-img" src="images/radious-img.png">
                                        <h4>Birget Marrie</h4>
                                    </a>
                                </li>
                                <li><a href="./edit.html">Settings</a></li>
                                <li><a href="./login.html">Logout</a></li>
                            </ul>
                        </li>
                        
                        <li class="nav-item settings d-lg-none">
                            <a class="header-message-box" href="./edit.html">
                                <small>Settings</small>
                            </a>
                        </li>
                        <li class="nav-item logout d-lg-none">
                            <a class="header-message-box" href="./login.html">
                                <small>Logout</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="write-page-outer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="write-page-btn">
                        <button class="preview-btn">Preview</button>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Public <img src="images/next-white.png">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Private</a></li>
                                <li><a class="dropdown-item" href="#">Draft</a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Type your day title <span class="required">*</span></h4>
                    <div class="write-page-title-outer">
                        <div class="write-page-title">
                            <ul class="date_time d-flex ">
                                <li><p><i class="far fa-clock"></i>10:00 AM - 20 feb, 2020 - Las Vegas, USA</p></li>
                            </ul>
                            <textarea maxlength="100" placeholder="Type your title" id="blog-title"></textarea>
                            <span>100 Charcter</span>
                        </div>
                    </div>
                    <div class="write-page-title-editor">
                        <h4>Type your day description <span class="required">*</span></h4>
                        <!-- <textarea name="" id="editor" cols="30" rows="10"></textarea> -->
                        <!-- <textarea class="" cols="0"  name="editor1" rows="0"> -->
                            <div class="ckeditor-placeholder" id="toolbar-grouping">
                                <div class="loading">
                                    <span class="inner"></span>
                                    <span class="middle"></span>
                                    <span class="outer"></span>
                                </div>

                            </div>
                        <!-- </textarea> -->
                        <div id="demo-word-count" class="word-count">
                        </div>
                    </div>
                    <div class="post-preview">
                        <h4>Post Preview</h4>
                        <div class="post-preview-box">
                            <a href=""><h6>https://www.pngwing.com/en/search?q=apple+watch&page=2https://www.pngwing.com/en/search?q=apple+watch&page=2</h6></a>
                            <ul class="date_time d-flex ">
                                <li><p><i class="far fa-clock"></i>10:00 AM - 20 feb, 2020 - Las Vegas, USA</p></li>
                            </ul>
                            <h4>Lorem Ipsum is simply dummy text of the printing simply dummy text of the printing</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not centuries,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                           
                        </div>
                    </div>
                    <div class="write-page-input-box">
                        <div class="write-page-input">
                            <label>SEO TITLE</label>
                            <input type="text">
                        </div>
                        <div class="write-page-input">
                            <label>SLUG URL</label>
                            <input type="text">
                        </div>
                        <div class="write-page-input">
                            <label>Meta description </label>
                            <textarea maxlength="2500"></textarea>
                            <span>2500 charcter</span>
                        </div>
                        <button>Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="preview-modal">
        <div class="content-container">
            <div class="preview-modal-content">
                <div class="preview-custmor-detail">
                    <div class="preview-custmor-detail-img">
                        <img src="images/radious-img.png">
                    </div>
                    <div class="profile-info">
                        <h4>By: Jone Smith</h4>
                        <button class="main_btn" id="edit_btn">Edit</button>
                    </div>
                    <a href="#" class="active folder-img"><img src="images/folder.png"></a>
                </div>
                <div class="review-detail ">
                    <ul class="date_time d-flex ">
                        <li><p><i class="far fa-clock"></i>10:00 AM - 20 feb, 2020 - Las Vegas, USA</p></li>
                    </ul>
                    <h4 data-placeholder="Title of Story"></h4>
                </div>
                <div class="review-detail-content ck-content" data-placeholder="Description of your story"></div>
                <div class="review-detail-content-view">
                    <ul class="like_comment d-flex justify-content-between align-items-center mt-0">
                        <li>
                            <small><img src="images/eye.png"><span><span>1000</span> Views</span></small>
                        </li>
                        <li>
                            <a class="heart">
                                <img class="simple-heart" src="images/heart.png">
                                <img class="red-heart" src="images/red-heart.png">
                                <span><span>1000</span> Likes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/share.png"><span><span>1000</span> Shares</span> </a>
                        </li>
                        <li>
                            <a href="#"><img src="images/messsage.png"><span><span>1000</span> Comments</span>	</a>

                        </li>
                    </ul>
                </div>
            </div>
            <p class="label">Preview</p>
        </div>
    </section>
    <div class="footer text-center">
        <div class="container">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/snippet.js"></script>
    <script src="js/toolbar-grouping.js"></script>
    <!--<script src="https://ckeditor.com/docs/ckeditor5/latest/assets/snippet.js"></script>
    <script src="https://ckeditor.com/docs/ckeditor5/latest/snippets/features/build-toolbar-source/snippet.js"></script>
    <script src="https://ckeditor.com/docs/ckeditor5/latest/snippets/features/toolbar-grouping/snippet.js"></script>-->
    <script src="js/custom.js"></script>
    <script src="./js/write-page.js"></script>
    <script>
        // $(document).ready(function () {
        /* Search bar */

        var resizeElements;

        $(document).ready(function () {

            // Set up common variables
            // --------------------------------------------------

            var bar = ".search_bar";
            var input = bar + " input[type='text']";
            var button = bar + " button[type='submit']";
            var dropdown = bar + " .search_dropdown";
            var dropdownLabel = dropdown + " > span";
            var dropdownList = dropdown + " ul";
            var dropdownListItems = dropdownList + " li";


            // Set up common functions
            // --------------------------------------------------

            resizeElements = function () {
                var barWidth = $(bar).outerWidth();

                var labelWidth = $(dropdownLabel).outerWidth();
                $(dropdown).width(labelWidth);

                var dropdownWidth = $(dropdown).outerWidth();
                var buttonWidth = $(button).outerWidth();
                var inputWidth = barWidth - dropdownWidth - buttonWidth;
                var inputWidthPercent = inputWidth / barWidth * 100 + "%";

                $(input).css({ 'margin-left': dropdownWidth, 'width': inputWidthPercent });
            }

            function dropdownOn() {
                $(dropdownList).fadeIn(25);
                $(dropdown).addClass("active");
            }

            function dropdownOff() {
                $(dropdownList).fadeOut(25);
                $(dropdown).removeClass("active");
            }


            // Initialize initial resize of initial elements
            // --------------------------------------------------
            resizeElements();


            // Toggle new dropdown menu on click
            // --------------------------------------------------

            $(dropdown).click(function (event) {
                if ($(dropdown).hasClass("active")) {
                    dropdownOff();
                } else {
                    dropdownOn();
                }

                event.stopPropagation();
                return false;
            });

            $("html").click(dropdownOff);


            // Activate new dropdown option and show tray if applicable
            // --------------------------------------------------

            $(dropdownListItems).click(function () {
                $(this).siblings("li.selected").removeClass("selected");
                $(this).addClass("selected");

                // Focus the input
                $(this).parents("form.search_bar:first").find("input[type=text]").focus();

                var labelText = $(this).text();
                $(dropdownLabel).text(labelText);

                resizeElements();

            });


            // Resize all elements when the window resizes
            // --------------------------------------------------

            $(window).resize(function () {
                resizeElements();
            });

        });
        // });
    </script>
    <!--<script>
        CKEDITOR.replace('editor', {
            skin: 'moono',
            enterMode: CKEDITOR.ENTER_BR,
            shiftEnterMode: CKEDITOR.ENTER_P,
            toolbar: [{ name: 'basicstyles', groups: ['basicstyles'], items: ['Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor'] },
            { name: 'styles', items: ['Format', 'Font', 'FontSize'] },
            { name: 'scripts', items: ['Subscript', 'Superscript'] },
            { name: 'justify', groups: ['blocks', 'align'], items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'paragraph', groups: ['list', 'indent'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'insert', items: ['Image'] },
            { name: 'spell', items: ['jQuerySpellChecker'] },
            { name: 'table', items: ['Table'] }
            ],
        });

    </script>-->
    <script>
        //CKEDITOR.replace('editor1', {
        //    height: 300,

        //    // Configure your file manager integration. This example uses CKFinder 3 for PHP.
        //    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        //    filebrowserImageBrowseUrl: '/ckfinder/ckfinder.html?type=Images',
        //    filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        //    filebrowserImageUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images'
        // });      
    </script>
    <script>
        function dialogResizeCentered(d, w, h) { //d-dialog, w,h-width, height
            var sw, sh; //screenwidth, screenheight
            var rx, ry; //null atm, for resize x, resize y
            get sw, sh from window.object
            rx = parseInt(sw / 2 - w / 2);
            ry = parseInt(sh / 2 - h / 2);
            d.call resize(w, h);
            d.call reposition(rx, ry);
        }
    </script>
</body>
</html>